body{
    margin:0;
    padding:0;
}
nav{
    
    height:10vh;
    display:flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
}
.product-list{
    display:flex;
    flex-direction: row;
    gap: 1rem;
    list-style: none;
    text-transform: capitalize;
    margin: 0;
    padding: 0;

}
.product-list li{
    padding:.5rem 1rem;
    color: goldenrod;
    font-weight: bold;
    border:2px solid goldenrod;
    border-radius: .5rem;
    cursor: pointer;
    transition:0.5s ease-in-out;
}
.product-list li a{
    color: rgb(218, 165, 32);
    text-decoration: none;
}
.product-list li:hover{
    background-color: rgba(218,165,32,0.5);
    
}
.title-container{
    margin-top: 1.5rem;
}

h1{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: .3rem;
    margin:0rem;

    padding: 0;

}
hr{
    width:25vw;
    background-color: goldenrod;
    border: none;
    height:.2rem;
    border-radius: 1rem;
    /* margin: 0; */
    padding: 0;

}
.products-container{
    margin-top: 2rem;
    padding: 1rem 5rem;
    display: grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
}
.products{
    display:flex;
    flex-direction: row;
    
    /* padding:1rem; */
    /* width: 50vw; */
    /* background-color: goldenrod; */
    /* width: 20vw; */
    
}
.product-img-container{
    /* background-image: url(images/kurti.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; */
    margin-right:1rem;
    /* width:20vw; */
    /* width:20vw; */
    /* border:.3rem solid goldenrod; */
    
}
.product-img{
    border:.3rem solid goldenrod;
    border-radius: .5rem;
    /* width:25vh; */
    
}


.product-info{
    /* width:20%; */
    /* height:15vw; */
    /* border-radius: 0.5rem; */
    /* padding: 0; */
    /* float:left; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    /* width: 100%; */
    
}
.name-price-container{
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
 .price,.product-title{
     /* text-align: end; */
     text-transform: uppercase;
     font-weight: bold;
     color: goldenrod;
}
.description{
    font-weight: bold;
    color:goldenrod;
    justify-self: flex-end;
    /* background-color: brown; */
} 
@media screen and (max-width:900px){
    .name-price-container{
        display: flex;
        flex-direction: column;
        /* justify-content:stretch; */
        /* padding: 0; */
        align-items: flex-start;
        width: 100%;

    }
    /* .name-price-container{
        padding: 0;
        background-color: goldenrod;
    } */
    .products{
        display:flex;
        align-items: space-around;
        
        flex-direction: row;
        padding: 1rem 0;
        /* padding:0rem; */
        /* width: 50vw; */
        /* background-color: goldenrod; */
        /* width: 20vw; */
        
    }
    .price,.product-info,.product-title{
        font-size: .8rem;
    }
}
@media screen and (max-width:770px){
    .products-container{
        padding: 1rem 5rem;
        display: grid;
        gap: 1rem;
        grid-template-columns: 1fr ;
    }  
    .price,.product-info,.product-title{
        font-size: 1rem;
    }
}
@media screen and (max-width:560px){
    .product-list li{
        padding:.5rem;
        font-size: .7rem;
    }
    .product-info,.price{
        font-size: .9rem;
    }
    .products-container{
        
        padding: 1rem 2rem;
        
    }
   
}