body{
    font-family: 'PT Serif', serif;
    margin: 0;
    box-sizing: border-box;
}
container{
    display:grid;
}
.header-search{
    border: 1px solid black ;
    border-right: none;
    border-radius: 25px 0 0 25px;
    padding: .5rem 1rem;
}
.header-container{
    display:flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;

}
.header-search-button{
    border: none;
    background-color: red;
    margin-left: -.3rem;
    border-radius:0 25px 25px 0 ;
    padding: .5rem 2rem;
    border:1px solid red;
    color:white;
    font-weight:bold;
    transition: all 1s;
}
.header-search-button:hover{
    background-color: rgb(160, 0, 0)
}
::placeholder{
    text-transform: capitalize;
    font-weight: bold;
}
.carts{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align:center;
    
    
}
.header-images{
    width:5vh;
    height:5vh;
    float:left;
    margin-top: 1rem;
    margin-right: .5rem;
}
p{
    text-transform: capitalize;
    float: left;
    font-size: .8rem;
    
}
.carts-children{
    padding: 0 1rem 0 0;
}
.sign-in{
    margin-left: auto;
    background-color: tomato;
    padding:1rem;
    border-radius: 1rem;
    color: white;
    font-weight: bold;
    letter-spacing: .1rem;
    font-size: 1.1rem;
    transition: all 3s;
}

.sign-in:hover{
    background: linear-gradient(0deg, rgba(240,63,0,1) 0%, rgba(241,146,126,1) 92%);
    cursor: pointer;

}
.small-screen-nav{
    display:none;
}
.nav-container{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,10,0.8104283949908089) 48%, rgba(255,0,49,1) 100%);
    transition: all 3s;
    position: sticky;
    top: 0;
    z-index: 0;
}

.nav-links{
    list-style: none;
    margin: 0;
    padding:0;
    display:flex;
    flex-direction: row;
    justify-content: center;
    transition: all 1s;
    
    
}
.nav-links li{
    padding:.8rem 1rem;
    text-transform: capitalize;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
}
.nav-links li:hover{
    border-bottom: 2px solid white;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,83,1) 100%);
    font-weight: bold;
}

.nav-links li a{
    /* background-color: white; */
    color:white;
    text-decoration: none;
    padding:.3rem 1rem;
    border-radius: 2rem;
    /* transition: all 1s; */
    
    
}
.sale {
    padding:.3rem 1rem;
    border-radius: 2rem;
    background-color: tomato;
    
}
.nav-links li:last-child:hover{
    background-image: none;
}

        
/* .nav-links li a:hover{
    background: linear-gradient(0deg, rgba(255,133,133,1) 0%, rgba(255,255,255,1) 91%);
} */
.sign-in-mobile-view{
    display: none;
}
.cover-img{
    height:80vh;
    width:100%;
    position: relative;
}
.cover-container{
    background-image: url(images/cover-photo.jpg);
    height:50vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    
    color: red;
    font-family: 'Inconsolata', monospace;  
}
.cover-title{
    font-size:6rem;
}

.cover-title-container{
    border-bottom: 3px solid red ;
    border-top: 3px solid red;
    padding: 3rem 5rem;
    cursor: pointer;

}
.cover-container-about-page{
    background-image: url(images/about-us-cover-img3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height:50vh;
    /* min-height: 30%; */
    width:100%;
    display:flex;
    align-items:center;
    justify-content: center;
    color:red;
    font-size:1vh;
}
.cover-title-about-page{
    font-size:10vh;
    font-weight: bold;
    /* padding:5rem ; */
}
.about-us-content-page{
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    padding-top:1.5rem;
    color:#7a869f;
    letter-spacing: .1rem;
}
.abotu-us-sub-background{
    width:100%;
    height: auto;
    /* min-height:50vh; */
    float: left;
    min-width:30%;
}

.more-content-with-img{
    /* display:grid;
   
    grid-template-columns: repeat(auto-fill,minmax(300px,1fr));    */
    display:flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.div-spacing{
    padding:1.5rem;
    padding-top: 0;
}
.about-us-image-content{
    
    
    margin-left: -10rem;
    background: white;
    box-shadow: 5px 5px 10px 10px black;
    padding:3rem;
    height:69%;
    width: 100%;
    font-size: 2.6vh;
    justify-self:center;
    align-self: center;
}
.header-policy{
    text-transform: capitalize;
}
.header-policy-h1{
    text-align: center;
    color:#6b7881;
    letter-spacing: .5rem;
}
.policies div{
    margin-left:1.5rem;
    color:#6b7881;
    font-size: 1rem;
    line-height: 1.8rem;
    
    width:50%;
}
.policies a{
    color:red;
    text-decoration: none;
}
.policies a:hover{
    text-decoration: underline;
    font-size: 1.1rem;
}


.project-title-container{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    margin:2rem auto;
}
.title-start{
    width:1rem;
    height:3px;
    border-top:3px solid red;
    margin: auto 1rem;
    font-size: 2rem;
}
.project-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap:1rem;
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    color: white;
    margin: auto 5rem;
    
}
.punjabi-suit{
    background-image: url(images/punjabi-suit.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
    text-align: center;
    
    
}

.lehenga{
    background-image: url(images/lehenga.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
}
.tops{
    background-image: url(images/tops.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
}
.saree{
    background-image: url(images/saree.jfif);
    background-size: cover;
    background-repeat: no-repeat;
    height:50vh;
}
.individual-project-title{
    transition: all 2s;
    font-size: 2rem;
    font-weight: bold;
}

.project-mouseover{
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: all .5s ease-in;
}

.project-mouseover:hover{
    background-color: rgba(255,0,0,0.2);
    align-items: center;
}
footer{
    background-color: #363a42;
    margin-top: 2rem;
  

}
.footer-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;

}

.footer-sublinks{
    list-style: none;
    padding: 0;
}
.footer-sublinks li{
    padding:.5rem 0;
    text-transform: capitalize;
    color:#6b7881;
}
.footer-sublinks li:first-child{
    font-weight: bold;
    font-size: 1.2rem;
    color:white;
    text-transform: uppercase;
}
.links-deco{
    transition: all 3s;
}
.links-deco a{
    text-decoration: none;
    color:#6b7881;
    transition: all 3s;
    letter-spacing: .1rem;
    font-weight: bold;
    
}
.links-deco a:hover{
    position: relative;
    left:1.5rem;
}

.log-in-page-img{
  width: 35vh;
  border-top-left-radius: 1rem;
  border-bottom-left-radius:1rem ;
}
.log-in-page-container{
    height:90vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    transition: all 2s;
    position: fixed;
    top:-100%;
    opacity:0;
    background-color: rgba(2,0,36,0.5);
    width:100%;
    height:98vh;
    border-radius: 1rem;   
}
.logInFormOn{
    top:.4rem;
    opacity: 1;
    z-index: 1;
    
}
.log-in-section{
    display:flex;
    flex-direction: row;
    opacity: 1;
    
    
}
.loginPageNotActive{
    display:none;
}
.exit-btn-container{
    align-self: flex-end;
}

.cross{
    width:1rem;
    height:2px;
    background-color: #7d858c;
 
}
.cross:first-child{
    transform: rotate(45deg)translate(2px,-1px);
}
.cross:last-child{
    transform: rotate(-45deg)translate(2px,0px);
}

.log-in-form{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:1rem 2rem;
    width: 30vw; 
    color:#7d858c;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
     
}
.log-in-header{
    font-size: 2rem;
    font-weight: bold; 
    color:#7d858c;
    text-transform: capitalize;
    
}
.invalid-user-pass{
    color:red;
    font-size: .7rem;
    align-self:flex-start;
    justify-self: flex-end;
    margin-bottom: 0;
    opacity: 0;
}
.logInInvalid{
    opacity:1;
}
.log-in-links{   
    text-transform: capitalize;
    color:#7d858c;  
}
.sign-up-page-link{
    font-size: 1.3rem;
}
.log-in-links a{
    color:#7d858c;
    text-decoration: none;
}
.log-in-links a:hover{
    color: #7d858c;
    text-decoration: underline;
    
}
.log-in-input-box{
    background-color: #ffffff;
    border-radius:3rem;
    font-size: 1.2rem;
    padding:.5rem;
    align-self: stretch;
    border:1px solid #7d858c;
    
}
.log-in-input-box::placeholder{
    font-size: .7rem;
}
.log-in-forget-pass{
    margin-left: auto; 
}
.sign-up-page-link, .login-page-link{
    text-transform: uppercase;
    letter-spacing: .3vw;
}
.sign-up-form-submit-btn,.log-in-form-submit-btn{
    border-radius:3rem;
    background-color: red;
    font-size: 1.2rem;
    padding:.5rem;
    align-self: stretch;
    border:none;
    color: white;
    font-weight: bold;
    font-size: .9rem;
}
.sign-up-section{
    display:none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
    padding:1rem 2rem;
    height:85vh;
    width:60vh;
    border-radius: 1rem;
}
.signUpPageActive{
    display:flex;
}
#sign-up-err{
    margin-top: .3rem;
    margin-bottom: .3rem;
    background-color: rgba(255,0,0,0.3);
    align-self: stretch;
    text-align:start;
    text-transform: capitalize;
    font-size:.8rem;
    padding:.5rem;
    display:none;
    color: red;
}
.back-to-top{
    right: 3rem;
    position:fixed;
    top:85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: none;
    background-color: rgba(255,0,0,.7);
    border-radius: 50%;
    transition: 0.6s;
    
}
.back-to-top a{
    color:white;
    text-decoration: none;
    padding: 1.3rem;
    font-size: 1.4rem;

}
.user-scrolled-down{
    display:block;
    /* right: 3rem;
    position:fixed;
    top:85vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(255,0,0,.7);
    border-radius: 50%; */
    
}

@media screen and (max-width: 900px)  {
    .none, .nav-links{
        display:none;
       
    }
    /* .header-container{
        position: relative;
    } */
  .small-screen-nav{
    display:flex;
    align-items: center;
    
    }

    .nav-container{
        /* z-index: 1; */
        transition: none;
        
    }


  .burger-div >div{
      width:2rem;
      height:.2rem;
      background-color: black;
      margin: .3rem;
  }
  
  .carts{
      margin-left: auto;
      margin-bottom:1rem;
      
  }
  
  .nav-container{
      
      background-color: white;
      background-image: none;
      box-sizing: border-box;
  }
  .logo{
      margin-left: 1rem;
  }
  .nav-links{
      
      display:flex;
      flex-direction: column;
      background-color:white;
      justify-content: center;
      align-items: center;
      
      
  }
  .nav-links li{
    color:#6b7881;
    padding:1rem 4rem;
    /* overflow:visible; */
  }
  .nav-links li a{
      color:#6b7881;
  }
  .nav-links li:hover{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,0,83,1) 100%);
    font-weight: bold;
    
  }
.nav-links li:last-child{
    border-radius: 2rem;
    background-color: tomato;
    color: white;
    font-weight: bold;
}

  .mobile-view-navbar-pop-up{
      overflow: scroll;
      position: absolute;
      left:-100%;
      opacity: 0;
      transition: all 2s;
      background-color: white;
      z-index: 1;
      position: fixed;
      overflow-y: scroll;
      overflow-x: hidden;
      max-height: 80%;  
     
      z-index:0;
  }
  .sale {
      color:white;
  }
  .sign-in-mobile-view{
      background-image: url(images/sign-in-img.jpg);
      height: 25vh;
      color:red;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      line-height: .1vh;
      color:#6b7881;
      font-weight: bold;

      
       
  }
  .sign-in-mobile-text{
      font-size: 3vh;
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      
      transition: all 1s;
  }
  .is-active{
      left:0;
      opacity:1;
  }
  .sign-in-mobile-text:hover{
    background: linear-gradient(0deg, rgba(240,63,0,1) 0%, rgba(241,146,126,1) 92%);
    cursor: pointer;

}
.pop-up-greeting{
    font-size: 1.3rem;
}
.search-container-2{
    transition: all 1s;
    position: absolute;
    right:0rem;
    top:-100%;
    z-index: 1;
    
}
.active{
    top:5rem;
}



      
      
}

    
    

@media screen and (max-width: 750px) {
    .cover-title{
        font-size:3rem;
    }
    .more-content-with-img{
        /* display:grid;
       
        grid-template-columns: repeat(auto-fill,minmax(300px,1fr));    */
        display:flex;
        flex-direction: column;
        justify-content: center;
    }
    .cover-container-about-page{
        background-image: url(images/about-us-cover-img3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height:45vh;
        /* min-height: 30%; */
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
        color:red;
        font-size:1vh;
    }


    .about-us-image-content{
    
    
        margin-left: 0;
        background: white;
        box-shadow: none;
        padding:0;
        margin-top: 1rem;
        /* padding:3rem 3rem 0rem 3rem; */
        height:100%;
        width: 100%;
        font-size: 2.6vh;
        justify-self:center;
        align-self: center;
        
        
        
    }
    .div-spacing{
        padding:1rem;
        padding-top: 0;
    }
    .policies div{
        margin-left:1.5rem;
        color:#6b7881;
        font-size: 1rem;
        line-height: 1.8rem;
        width:70%;
    }
    .header-policy-h1{
        text-align: center;
        color:#6b7881;
        letter-spacing: .2rem;
        font-size: 1.4rem;
    }
 
    
    
}
@media screen and (max-width: 550px) {
    .footer-container{
        padding-left: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items:flex-start;
    
    }
    .cover-container-about-page{
        background-image: url(images/about-us-cover-img3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height:40vh;
        /* min-height: 30%; */
        width:100%;
        display:flex;
        align-items:center;
        justify-content: center;
        color:red;
        font-size:1vh;
    }
    .header-policy-h1{
        text-align: center;
        color:#6b7881;
        letter-spacing: .2rem;
        font-size: 1.3rem;
    }


}
